<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
        <!-- Bootstrap CSS & Font-Awesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" integrity="sha256-8EcfIJRWyvnu/U0OsfCk05x1JGVmeC2a7sJQHrbWYSA=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/v/bs4/dt-1.13.7/datatables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/rowreorder/1.4.1/css/rowReorder.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet">
        <style>
            html,body{
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
                overflow-x: hidden; 
            }

            .body {
                padding: 0;
                margin: 0;
            }

            .bg-custom{
                background-color: #3F51B5;
            }
            .navbar-brand {
                font-size: 24px;
            }

            .navbar-brand img {
                height: 30px;
                /* put value of image height as your need */
                float: left;
                margin-right: 7px;
            }
            
            .scrollable {
                height: 100px; /* or any value */
                overflow-y: auto;
            }
        </style>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/announcement.css') }}" />

        <script>
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            console.log(y + "-" + m + "-" + d);

            {% block calendar %}
            document.addEventListener('DOMContentLoaded', function() {
                let selector1 = document.querySelector("#selector");
                let selector2 = document.querySelector("#eventselector");
                var today = new Date().toISOString().slice(0,10);
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    eventDisplay: 'block',
                    selectable: true,
                    headerToolbar: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay' // user can switch between the two
                    },
                    eventDidMount: function(arg) {
                        let val = selector.value;
                        if (!(val == arg.event.extendedProps.location || val == "all")) {
                            arg.el.style.display = "none";
                        }
                    },
                    events: function (fetchInfo, successCallback, failureCallback) {
                        successCallback([
                        {% for row in roombookings %}
                        {% if row.StudID != None: %}
                        {
                            id: '{{row.RBookID}}',
                            title: '{{row.StudID}}',
                            start: '{{row.Start}}',
                            end: '{{row.End}}',
                            description: '{{row.Purpose}}',
                            extendedProps:{
                                location: '{{row.RoomID}}',
                                status: '{{row.RBookStatus}}' 
                            }
                        },
                        {% else %}
                        {
                            id: '{{row.RBookID}}',
                            title: '{{row.StaffID}}',
                            start: '{{row.Start}}',
                            end: '{{row.End}}',
                            description: '{{row.Purpose}}',
                            extendedProps:{
                                location: '{{row.RoomID}}',
                                status: '{{row.RBookStatus}}' 
                            }
                        },
                        {% endif %}
                        {% endfor %}
                        ]);
                    },
                    dateClick: function(info) {
                        var clickedDate = getDateWithoutTime(info.date);
                        var nowDate = getDateWithoutTime(new Date())
                        if (clickedDate >= nowDate) {
                            $("#modaladdRBook").modal("show");
                            $("#rbookstart").val(info.dateStr);
                            $("#rbookend").val(info.dateStr);
                        }
                        else alert("Cannot Select Past Date");
                    },
                    select: function(info) {
                        //alert('selected ' + info.startStr + ' to ' + info.endStr);
                    }
                });
                calendar.render();
                calendar.setOption('contentHeight', 650);

                //Event only calendar
                var calendarE2 = document.getElementById('eventcalendar');
                var eventCalendar = new FullCalendar.Calendar(calendarE2, {
                    initialView: 'dayGridMonth',
                    eventDisplay: 'block',
                    selectable: true,
                    headerToolbar: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay' // user can switch between the two
                    },
                    eventDidMount: function(arg) {
                        let val = selector.value;
                        if (!(val == arg.event.extendedProps.location || val == "all")) {
                            arg.el.style.display = "none";
                        }
                    },
                    events: function (fetchInfo, successCallback, failureCallback) {
                        successCallback([
                        {% for row in eventbookings %}
                        {% if row.StudID != None: %}
                        {
                            id: '{{row.EBookID}}',
                            title: '{{row.StudID}}',
                            start: '{{row.Start}}',
                            end: '{{row.End}}',
                            description: '{{row.Purpose}}',
                            extendedProps:{
                                location: '{{row.RoomID}}',
                                status: '{{row.EBookStatus}}' 
                            }
                        },
                        {% else %}
                        {
                            id: '{{row.EBookID}}',
                            title: '{{row.StaffID}}',
                            start: '{{row.Start}}',
                            end: '{{row.End}}',
                            description: '{{row.Purpose}}',
                            extendedProps:{
                                location: '{{row.RoomID}}',
                                status: '{{row.EBookStatus}}' 
                            }
                        },
                        {% endif %}
                        {% endfor %}
                        ]);
                    },
                    dateClick: function(info) {
                        var clickedDate = getDateWithoutTime(info.date);
                        var nowDate = getDateWithoutTime(new Date())
                        if (clickedDate >= nowDate) {
                            $("#modaladdEBook").modal("show");
                            $("#ebookstart").val(info.dateStr);
                            $("#ebookend").val(info.dateStr);
                        }
                        else alert("Cannot Select Past Date");
                    },
                    select: function(info) {
                        //alert('selected ' + info.startStr + ' to ' + info.endStr);
                    }
                });
                eventCalendar.render();
                eventCalendar.setOption('contentHeight', 650);

                selector1.addEventListener('change', function() {
                    calendar.refetchEvents();
                });
                
                selector2.addEventListener('change', function() {
                    eventCalendar.refetchEvents();
                });
            });
            {% endblock %}
            
            //get date without the time of day
            function getDateWithoutTime(dt)
            {
                dt.setHours(0,0,0,0);
                return dt;
            }
          </script>
        <title>{% block title %} Home {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar" style="">
                {% if user.is_authenticated %}
                    {% if user.is_Student() %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/homeStud" class="navbar-brand"><img src={{ url_for('static', filename='LOGO_UMS_putih.png') }}></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="logout" href="/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home" href="/homeStud">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home" href="/MyBookings">My Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home" href="/feedback">Feedback</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="studProfile" href="#">{{user.StudID}}</a>
                        </li>
                    </ul>
                    {% elif user.is_Staff() %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/homeStaff" class="navbar-brand navbar-left"><img src={{ url_for('static', filename='LOGO_UMS_putih.png') }}></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link navbar-left" id="logout" href="/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link navbar-left" id="home" href="/homeStaff">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home" href="/MyBookings">My Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home" href="/feedback">Feedback</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="staffProfile" href="#">{{user.StaffID}}</a>
                        </li>
                    </ul>
                    {% elif user.is_Admin() %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/homeAdmin" class="navbar-brand navbar-left"><img src={{ url_for('static', filename='LOGO_UMS_putih.png') }}></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link navbar-left" id="logout" href="/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link navbar-left" id="home" href="/homeAdmin">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="AdminProfile" href="#">{{user.AdminID}}</a>
                        </li>
                    </ul>
                    {% endif %}
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="navbar-brand"><img src={{ url_for('static', filename='LOGO_UMS_putih.png') }}></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link navbar-left" id="home" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link navbar-left" id="login" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link navbar-left" id="RegisterSelect" href="/RegisterSelect">Register</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
            messages %} {% for category, message in messages %} {% if category ==
            'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}

        <!--Page Title BLock-->
        {% block PageTitle%}
        {% endblock %}
        <!--Site Title BLock End-->

        <!--Content Block-->
        {% block content%}
        {% endblock %}
        <!--Content Block End-->
        
        <!--Optional JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js" integrity="sha256-8EcfIJRWyvnu/U0OsfCk05x1JGVmeC2a7sJQHrbWYSA=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdn.datatables.net/v/bs4/dt-1.13.7/datatables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/rowreorder/1.4.1/js/dataTables.rowReorder.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
        <script
            type = "text/javascript"
            src = "{{ url_for('static', filename='index.js')}}">
        </script>
        <script
            type = "text/javascript"
            src = "{{ url_for('static', filename='announcement.js')}}">
        </script>
        <script type="text/javascript">
            function deleteAnnouncement(AnnounceId) {
                fetch("/delete-announcement", {
                  method: "POST",
                  body: JSON.stringify({ AnnounceId: AnnounceId }),
                }).then((_res) => {
                    alert("Selected Announcement has been deleted.")
                    window.location.href = "/ManageAnnouncements";
                });
            }
        </script>
        <script type="text/javascript">
            function submit_form() {
                document.formA.submit();
                document.formA.reset(); 
            }
        </script>
        <script>
            function confirmDeleteAnnnouncement(AnnounceId) {
              let text = "Delete this announcement? \nThis action cannot be undone";
              if (confirm(text) == true) {
                deleteAnnouncement(AnnounceId);
              }
            }
        </script>
        <script>
            function setRoomInfo() {
                var img = document.getElementById("roomPreview");
                var imginfo = document.getElementById('roomInfoPreview');
                {% for r in roomlist %}
                if (this.value == {{r.RoomID|tojson}} ){
                    var temp = {{r.roomIMG|tojson}}.splice(10, 0, "\\");
                    img.src = "\\static\\uploads\\"+temp;
                    img.alt = temp;
                    imginfo.innerHTML = {{r.RoomInfo|tojson}};
                }
                {%endfor%}
                return false;
            }
            document.getElementById("roomSelect").onchange = setRoomInfo;
        </script>
    </body>
</html>