{% extends "base.html" %}
<title>{% block title %} Student Registration {% endblock %}</title>
{% block content%}
<div class="flex-container container">
    <form method="POST">
        <br />
        <h3 align="center">Select Registration for Staff or Student</h3>
        <br />
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button id="registerStud" class="btn btn-primary btn-lg" type="reset">STUDENT</button>
                    <button id="registerStaff" class="btn btn-secondary btn-lg" type="reset">STAFF</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    document.getElementById("registerStud").onclick = function () {
        location.href = "/studRegister";
    };
    document.getElementById("registerStaff").onclick = function () {
        location.href = "/staffRegister";
    };
</script>
{% endblock %}